/* firnfreuden */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Roboto:wght@300&display=swap');

/** Top-Level **/

body {
    font-family: "Nunito", "Open Sans", sans-serif;
    background-color: white;
    margin: auto;
}

a {
    color: rgb(69, 80, 91);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background: #03A9F4;
    color: white;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}

main {
    max-width: 800px;
    margin: auto;
    margin-top: 3.5rem; /* Nav Leiste ausgleichen */
    padding: 0 20px 0 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    font-size: 0.9em;
    margin-top: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px -1px 2px -1px;
    text-align: center;
}

footer nav {
    display: inline-block;
    padding: 0.3rem;
}

/** navigationsleiste **/

.nav-element {
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 2.7;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding: 0;
}

.nav-element-active {
    background-color: rgba(255, 255, 255, 0.2);
    border-top: 2px solid white;
    box-sizing: border-box;
}

.nav-element-title {
    border-right: 1px rgba(255, 255, 255, 0.5) solid;
    padding-right: 1rem;
    color: #01579B;
}

.nav-element-title:hover {
    pointer-events: none;
}

.nav-element>a {
    color: white;
    text-decoration: none;
    padding: 0.3rem 1rem 0.3rem 1rem;
}

.nav-element:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/** hauptseite **/

.colorfull-heading {
    margin-bottom: 4rem;
    font-size: 8rem;
    background: -webkit-linear-gradient(0deg, #35b2e7, #2f0c98);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

hr {
    border-bottom-width: 0;
    border-color: rgba(0, 0, 0, 0.2);
    margin: 20px 0 20px 0
}

td {
    padding: 4px 24px 4px 0px;
}

.tile {
    border-radius: 15px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 1px;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 50px;
}

.tile > div > img {
    max-width: 100%;
}

.tile-content {
    padding: 0 30px 0 30px;
}

.img-author {
    opacity: 0.8;
    display: inline-block;
    transform: translate(0, -115%);
    padding: 0.4rem;
    font-size: 0.8rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px 0 0 0;
}

.rounded-img {
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 1px;
}


/* Entfernt Standard-Aufzählungspunkte */
.custom-list {
    list-style-type: none;
    padding: 0;
}

/* Stellt sicher, dass die Icons und der Text in einer Zeile sind */
.custom-list li {
    margin: 10px 0;
}

/* Stellt sicher, dass das Icon und der Text nebeneinander angezeigt werden */
.custom-list li a {
    text-decoration: none;
    color: rgb(69, 80, 91);
    font-size: 16px;
}

/* Abstand zwischen Icon und Text */
.custom-list li a i {
    margin-right: 10px;
    /* Abstand zwischen Icon und Text */
}

.inline {
    display: inline-block;
    margin-left: 10px;
    /* Optional: fügt Abstand zwischen dem Text und dem Icon hinzu */
}

#map {
    width: 100%;
    height: 85vh;
    border: 1px solid gray;
}

.aws-div-icon span {
    border: 1px solid silver;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.3em;
    text-shadow:
        -1px -1px 0 white,
        -1px 1px 0 white,
        1px -1px 0 white,
        1px 1px 0 white;
    display: inline-block;
    transform: translate(-30%, -50%);
}

.aws-div-icon-wind span {
    font-size: 2.5em;
    font-weight: bold;
    padding: 0.3em;
    text-shadow:
        -1px -1px 0 black,
        -1px 1px 0 black,
        1px -1px 0 black,
        1px 1px 0 black;
    display: inline-block;
    transform: translate(-30%, -50%);
}

#profile {
    margin-top: 0.3em;
    border: 1px solid #6c93b357;

}

.skitouren {
    --ele-area: rgb(38, 66, 38);
    --ele-bg: rgb(248, 248, 248);
}