/* firnfreuden */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Roboto:wght@300&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    background-color: #E9EBE9;
    max-width: 1280px;
    margin: auto;
}

/* styling der Links */
a {
    color: rgb(69, 80, 91);
}

main {
    max-width: 1200px;
    margin: auto;
}

header {
    padding: 1em;
    text-align: center;
    background: #6c93b357;
    color: rgb(10, 0, 0);
    font-size: 15px;
}

.nav-badge {
    display: inline-block;
    padding: 0.4em;
    border: 1px solid #6c93b357;
    border-radius: 10px;
    margin-right: 0.5em;
    background-color: rgba(47, 100, 179, 0.2);
}

.nav-badge-1 {
    display: inline-block;
    padding: 0.4em;
    border: 1px solid #6c93b357;
    border-radius: 10px;
    margin-right: 0.5em;
    background-color: rgba(47, 100, 179, 0.4);
}

.nav-github {
    text-align: right;
    font-size: 0.9em;
    font-weight: bold;
}

article {
    margin-top: 0.5em;
}

/* Entfernt Standard-Aufzählungspunkte */
.custom-list {
    list-style-type: none;
    padding: 0;
}

/* Stellt sicher, dass die Icons und der Text in einer Zeile sind */
.custom-list li {
    margin: 10px 0;
}

/* Stellt sicher, dass das Icon und der Text nebeneinander angezeigt werden */
.custom-list li a {
    text-decoration: none;
    color: rgb(69, 80, 91);
    font-size: 16px;
}

/* Abstand zwischen Icon und Text */
.custom-list li a i {
    margin-right: 10px;
    /* Abstand zwischen Icon und Text */
}

.inline {
    display: inline-block;
    margin-left: 10px;
    /* Optional: fügt Abstand zwischen dem Text und dem Icon hinzu */
}

#map {
    width: 100%;
    height: 85vh;
    border: 1px solid gray;
}

.aws-div-icon span {
    border: 1px solid silver;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.3em;
    text-shadow:
        -1px -1px 0 white,
        -1px 1px 0 white,
        1px -1px 0 white,
        1px 1px 0 white;
    display: inline-block;
    transform: translate(-30%, -50%);
}

.aws-div-icon-wind span {
    font-size: 2.5em;
    font-weight: bold;
    padding: 0.3em;
    text-shadow:
        -1px -1px 0 black,
        -1px 1px 0 black,
        1px -1px 0 black,
        1px 1px 0 black;
    display: inline-block;
    transform: translate(-30%, -50%);
}

#profile {
    margin-top: 0.3em;
    border: 1px solid #6c93b357;

}

.skitouren {
    --ele-area: rgb(38, 66, 38);
    --ele-bg: rgb(248, 248, 248);
}

footer {
    font-family: "Roboto", sans-serif;
    font-size: 0.9em;
    margin-top: 0.5em;
}

footer nav {
    display: inline-block;
}